.popup {
    height: 100vh;
    width: 100vw;
    background-color: rgba($black, .95);
    // filter: blur(3rem);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    transition: all .8s;

    opacity: 0;
    visibility: hidden;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        width: 100%;
        background-color: $white;
        position: relative;

    }

    &__close {

        &:link,
        &:visited {
            color: $dark-grey-1;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
        }

        &:hover {
            color: $color-primary;
        }

    }

    .u-flex {
        width: 100%;
        margin-top: 8rem;
    }

    &__left {
        width: 33.33333%;
        height: 100%;

        .u_flex {
            // flex-direction: column;
        }
    }

    &__right {
        width: 66.666667%;
        padding: 10rem 8rem;
    }

    &__img {
        display: block;
        width: 100%;

        &-box {
            width: 100%;

        }
    }

    &__text {
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $dark-grey-1;
        hyphens: auto;
    }

}