body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    font-size: 1.6rem;
    color: $dark-grey-2;


}

.heading-primary {
    color: $white;
    text-transform: uppercase;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;


        animation-name: moveRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;

        @include respond(tab-port) {
            font-size: 5rem;
            letter-spacing: 2rem;
        }
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.75rem;

        animation-name: moveLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        /* animation-delay: .5s; */
    }

}


.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .4s;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    &:hover {
        transform: skewX(3deg) SkewY(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($black, 0.2);
    }
}



.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}



.paragraph {
    font-size: 1.6rem;

    //flippen amazing
    &:not(:last-child) {
        margin-bottom: 3rem;
    }

}